body {
  max-width: 705px;
  margin: 50px auto;
}

.container {
  background-color: #d6cccb;
}

h1 {
  text-align: center;
}

.basic-link {
  border: 1px solid #a69992;
  border-radius: 4px;
  color: black;
  text-decoration: none;
  padding: 5px 15px;
  margin: 30px 20px;
  background-color: #f2f0f0;
}
.contact-link {
  text-decoration: none;
}
a {
  cursor: pointer;
}

@media (max-width: 561px) {
  p {
    margin-top: 10px;
    border: 1px solid black;
    border-radius: 4px;
    padding: 10px 20px;
  }
}
